section {
    &.artist {
        display: flex;
        padding: 0px 43px 0px 43px;
        aside {
            width: 220px;
        }
        .content {
            width: calc(100% - 220px);
            margin-top: 95px;
            .frameWrapper {
                display: flex;
                flex-flow: wrap;
                .frameBox {
                    .borderBtn,
                    .pinkSmallBtn {
                        margin: 0 auto 30px auto;
                    }
                    width: 300px;
                    text-align: center;
                    .frameImg {
                        width: 100%;
                        img {
                            max-width: 100%;
                        }
                    }
                    .frameName {
                        &.editMode {
                            .name {
                                display: none;
                            }
                            input {
                                display: block;
                            }
                        }
                        padding: 0px 20px;
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 38px 0px;
                        .name {
                            font-weight: 400;
                            font-size: $h4Font;
                            line-height: 25px;
                            color: $white;
                            border: 0;
                            border-bottom: 1px solid $white;
                        }
                        input {
                            font-weight: 400;
                            font-size: $h4Font;
                            line-height: 25px;
                            color: $white;
                            border: 0;
                            border: 1px solid $white;
                            background-color: $blackColor;
                            display: none;
                        }
                    }
                }
            }
            .deleteInfo {
                p {
                    font-weight: normal;
                    font-size: $h5Font;
                    line-height: 23px;
                    color: $white;
                    max-width: 60%;
                }
                .btnGroup {
                    min-width: 397px;
                    width: 397px;
                    margin-top: 46px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }
            .sectionTitle {
                font-weight: 400;
                font-size: $h5Font;
                line-height: 23px;
                color: $white;
                border-bottom: 0.3px solid $white30;
                padding-bottom: 23px;
                margin-bottom: 35px;
            }
            .selectSubcription {
                display: flex;
                .subcription {
                    flex: 1;
                    .currentPlanBtn,
                    .getPlanBtn {
                        min-width: 155px;
                        width: 155px;
                        height: 50px;
                        min-height: 50px;
                        border-radius: 16px;
                        font-weight: 700;
                        font-size: $h6Font;
                        line-height: 24px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .currentPlanBtn {
                        border: 1px solid $white50;
                        box-sizing: border-box;
                        color: $white50;
                        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
                        position: relative;
                        padding-left: 14px;
                        &:after {
                            content: "";
                            position: absolute;
                            top: 16px;
                            left: 19px;
                            width: 11px;
                            height: 12px;
                            background-image: url("data:image/svg+xml,%3Csvg width='11' height='12' viewBox='0 0 11 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 7.25L4.75 11L10 1' stroke='white' stroke-opacity='0.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                            background-size: 11px 12px;
                            background-repeat: no-repeat;
                        }
                    }
                    .getPlanBtn {
                        min-width: 155px;
                        width: 155px;
                        height: 50px;
                        min-height: 50px;
                        background: $lightPink;
                        color: $blackColor;
                    }
                    .heading {
                        color: $white;
                        font-size: $h3Font;
                        margin-bottom: 43px;
                    }
                    .description {
                        border-bottom: 0.3px solid $white30;
                    }
                    .description,
                    .time {
                        font-weight: 400;
                        font-size: $h5Font;
                        line-height: 23px;
                        color: $white50;
                        padding-bottom: 19px;
                        margin-bottom: 16px;
                    }
                    .time {
                        color: $white;
                    }
                }
            }
            .myDetailTable {
                table {
                    width: 100%;
                }
                tr {
                    th,
                    td {
                        border-bottom: 0.3px solid $white30;
                        font-size: $h5Font;
                        line-height: 23px;
                        color: $white;
                    }
                }
                th {
                    font-weight: 700;
                    text-align: left;
                    padding: 23px 0px;
                }
                td {
                    font-weight: 400;
                    padding: 10px;
                }
                input {
                    font-size: $h5Font;
                    line-height: 23px;
                    color: $white;
                    background-color: $blackColor;
                    border: 0;
                    &:focus {
                        outline: none;
                    }
                    ::-webkit-input-placeholder {
                        color: $white;
                    }
                    :-ms-input-placeholder {
                        color: $white;
                    }
                    ::placeholder {
                        color: $white;
                    }
                }
                .editBtn {
                    font-weight: 400;
                    font-size: $h6Font;
                    line-height: 20px;
                    color: $blue;
                }
                .delAccount {
                    font-weight: 400;
                    font-size: $h5Font;
                    line-height: 23px;
                    text-align: center;
                    color: $white50;
                    margin-top: 150px;
                    display: inline-block;
                    width: 100%;
                }
            }
            .noOrder {
                font-weight: 400;
                font-size: $h5Font;
                line-height: 23px;
                text-align: center;
                color: $white;
                max-width: 356px;
                margin-left: 150px;
                .pinkBtn {
                    margin-top: 43px;
                    margin-left: auto;
                }
            }
            h1 {
                font-weight: 700;
                font-size: $h2Font;
                line-height: 38px;
                color: $white;
                margin-bottom: 38px;
            }
            .seeHistory {
                text-align: center;
                max-width: 289px;
                .seeAnchor {
                    font-weight: normal;
                    font-size: $h4Font;
                    line-height: 25px;
                    text-decoration-line: underline;
                    color: $white;
                    margin-top: 38px;
                    display: block;
                }
            }
        }
        .artistName {
            font-weight: 600;
            font-size: 40px;
            line-height: 51px;
            color: $white;
            margin-bottom: 50px;
        }
        nav {
            ul {
                li {
                    &:last-of-type {
                        a {
                            margin-bottom: 0;
                        }
                    }
                    a {
                        font-weight: normal;
                        font-size: $h6Font;
                        line-height: 20px;
                        color: $white50;
                        margin-bottom: 19px;
                        display: block;
                        &.active,
                        &:hover {
                            color: $white;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    section{
        &.artist{
            padding:0px 16px;
            display: inherit;
            .content{
                width: 100%;
                .myDetailTable{
                    overflow-x: auto;
                }
                .noOrder{
                    width:100%;
                }
                .deleteInfo{
                    p{
                        max-width: 100%;
                    }
                    .btnGroup{
                        min-width: 100%;
                        width: 100%;
                        .borderBtn,.pinkSmallBtn{
                            min-width: calc(50% - 10px);
                            margin: 5px;
                        }
                    }
                }
            }
        }
    }
}
