.buyFrame {
    max-width: 500px;
    text-align: left;
    h1 {
        font-weight: 600;
        font-size: $h1Font;
        line-height: 51px;
        color: $white;
    }
    .caption {
        font-size: 25px;
        font-weight: 400;
        line-height: 32px;
        color: $white50;
        margin-bottom: 64px;
    }
    p {
        font-weight: 400;
        font-size: $h4Font;
        line-height: 25px;
        color: $white;
    }
    .selectColorWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin:20px 0px 40px 0px;
        label {
            &.heading {
                font-weight: 400;
                font-size: $h6Font;
                line-height: 20px;
                color: $white50;
            }
        }
        .selectColor {
            display: flex;
            align-items: center;
            justify-content: center;
            label {
                input {
                    display: none;
                    &:checked ~ span {
                        border: 1px solid $lightPink;
                    }
                }
                span {
                    &.squareBox {
                        width: 65px;
                        height: 50px;
                        min-width: 65px;
                        min-height: 50px;
                        border: 1px solid $white50;
                        box-sizing: border-box;
                        border-radius: 16px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0px 26px 0px 0px;
                        span {
                            width: 25px;
                            height: 25px;
                            min-width: 25px;
                            min-height: 25px;
                            background-color: $white;
                            border-radius: 50%;
                            display: flex;
                            border: 0;
                        }
                    }
                }
                &:last-of-type {
                    span {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    .buyNowWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .price {
            font-weight: 700;
            font-size: $h1Font;
            line-height: 51px;
            color: $lightPink;
        }
        .buyNowBtn {
            min-width: 302px;
            height: 48px;
            color: $blackColor;
            background: $white;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 16px;
            font-weight: 700;
            font-size: $h6Font;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    padding-bottom: 70px;
    margin-bottom: 70px;
    border-bottom: 1px solid $white50;
}
.tabWrapper {
    .tabHeader {
        margin-bottom: 51px;
        ul {
            display: flex;
            li {
                list-style: none;
                margin-right: 31px;
                a {
                    font-weight: normal;
                    font-size: $h4Font;
                    line-height: 25px;
                    color: $white50;
                    padding: 8px 0px;
                    display: inline-block;
                    cursor: pointer;
                    &.active,
                    &:hover {
                        color: $white;
                        border-bottom: 1px solid $white;
                    }
                }
                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }
    .tabBody {
        font-weight: normal;
        font-size: $h6Font;
        line-height: 20px;
        color: $white;
        div {
            display: none;
            &.active {
                display: block;
            }
        }
        ul {
            padding-left: 15px;
            li {
                margin-bottom: 10px;
            }
        }
        p {
            margin-bottom: 10px;
        }
    }
}
.warning {
    &.mb{
        margin-top: 0;
        margin-bottom: 22px;
    }
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: $red;
    position: relative;
    display: inline-block;
    margin-top: 43px;
    &::after{
        width: 26px;
        height:26px;
        content:'';
        position: absolute;
        top: 0;
        left:0;
        background-position: top left;
        background-image: url(../Images/warning.png);
        background-repeat: no-repeat;
        background-position:100% 100%;
    }
    padding-left: 30px;
}
.form {
    .divide{
        display: flex;
        margin: 0px -15px;
        .form-group{
            padding:0px 15px;
           &:first-of-type{
            width:60%;
           }
           &:last-of-type{
            width:40%;
           }
        }

    }
    .accountDetails {
        h1 {
            font-size: $h2Font;
            margin-bottom: 34px;
            text-align: left;
            color: $white;
        }
        .continueBtn{
            margin-top: 57px;
        }
        max-width: 400px;
        margin: 0 auto;
        .checkBox {
            text-align: left;
            margin-top: 40px;
            input {
                display: none;
                &:checked ~ span {
                    &:after {
                        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='19' height='19' rx='4.5' stroke='white'/%3E%3Cpath d='M4 11.5L8.5 14.5L16 6' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                    }
                }
            }
            label {
                span {
                    font-size: $h6Font;
                    color: $white50;
                    position: relative;
                    padding-left: 50px;
                    &:after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 20px;
                        height: 20px;
                        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='19' height='19' rx='4.5' stroke='white' stroke-opacity='0.5'/%3E%3C/svg%3E%0A");
                        background-size: 100% 100%;
                    }
                }
            }
        }
    }
}
