header {
    background-color: $greyDark;
    backdrop-filter: blur(20px);
    border-radius: 0px 0px 15px 15px;
    margin: 0px 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 25px 16px 43px;
    max-width: 1296px;
    margin: 0 auto;
    .logoImg {
        img {
            min-width: 22px;
            min-height: 46px;
            width: 22px;
            height: 46px;
        }
    }
    .lt {
        display: flex;
        align-items: center;
        min-width: calc(586px - 25px);
        justify-content: space-between;
        nav {
            ul {
                display: flex;
                align-items: center;
                padding: 0;
                margin: 0;
                li {
                    list-style: none;
                    padding-right: 43px;
                    &:last-of-type {
                        padding-right: 0;
                    }
                }
            }
            a {
                color: $white70;
                font-size: $h6Font;
                &:hover {
                    color: $lightPink;
                }
            }
        }
        .myaccountBtn {
            min-width: 163px;
            min-height: 48px;
            color: $lightPink;
            border: 1px solid $lightPink;
            box-sizing: border-box;
            border-radius: 16px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            &:hover {
                background-color: $lightPink;
                color: $white;
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    header {
        padding: 16px;
        display: inherit;
        margin: 0px 16px;
        .lt {
            min-width: calc(100% - 16px);
            nav{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 16px;
                width: 100%;
            }
        }
         .myaccountBtn{
            position: absolute;
            top: 16px;
            right: 16px;
        }
    }
}
