.lamp {
    width: 282px;
    height: 282px;
    position: absolute;
    top: 83px;
    left: 575px;
}
section {
    &.product {
        @import "_thankYou.scss";
        display: flex;
        padding: 0px 43px 0px 43px;
        .productImgWrapper {
            text-align: center;
            max-width: calc(100% - 586px);
            flex: 0 0 calc(100% - 586px);
            .frameImg {
                img {
                    max-width: 75%;
                    &.wd49 {
                        max-width: 49%;
                    }
                }
                margin-bottom: 40px;
            }
        }
        .productInfo {
            max-width: 586px;
            flex: 0 0 586px;
            @import "_buyNow.scss";
            @import "_orderSummary.scss";
        }
    }
}
@media only screen and (max-width: 768px) {
    section {
        &.product {
            padding: 0px 16px 0px 16px;
            flex-direction: column-reverse;
            .thankYou {
                h1{
                  font-size:$h2Font;
                  line-height: normal;
                }
                .estimateDelivery{
                    margin: 15px 0px;
                }
                .note{
                    max-width: 100%;
                }
                .continueBtn {
                    margin: 30px auto;
                }
            }
            &.accountDetailPage{
                flex-direction: inherit;
                display: inherit;
                .productImgWrapper {
                    margin-top: 0px;
                }
            }
            .productInfo {
                max-width: 100%;
                flex: 0 0 100%;
                .tabWrapper {
                    .tabHeader {
                        overflow-x: auto;
                        white-space: nowrap;
                    }
                }
                .buyFrame {
                    .selectColorWrapper {
                        margin: 20px 0px 20px 0px;
                    }
                    .buyNowWrapper {
                        .buyNowBtn {
                            min-width: 197px;
                        }
                    }
                }
            }
            .productImgWrapper {
                max-width: 100%;
                flex: 0 0 100%;
                margin-top: 200px;
            }
        }
    }
    .lamp{
        top: 119px;
        transform: translateX(-50%);
        width:200px;
        height:200px;
        left:50%;
        transform: translateX(-50%);
    }
}
