$blackColor:#000000;
$blackLight:rgba(0, 0, 0, 0.5);
$greyDark:rgba(32, 40, 50, 0.5);
$lightPink:#FFB3C9;
$white70:rgba(255, 255, 255, 0.7);
$white50: rgba(255, 255, 255, 0.5);
$white30: rgba(255, 255, 255, 0.3);
$white:#fff;
$red:#801919;
$blue:#5a98f5;
$XXLfont:60px;
$h1Font:40px;
 $h2Font:30px; 
$h3Font:25px;
$h4Font:20px;
$h5Font:18px;  
$h6Font :16px;
$smallHeading:12px;
